body,
html {
    height: 100%;
    background: #1c1e21;
    overflow-x: hidden;
    font-family: 'Helvetica', sans-serif;
}

btn {
    border-radius: 0
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
    border-radius: 0
}



.btn-larger {
    padding: 15px 40px !important;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #f2f2f2;
    background: #004969;
}

.btn-larger:hover,
.btn-larger:focus,
.btn-larger:active,
.btn-larger.active,
.open .dropdown-toggle.btn-larger {
    background-color: #233169;
    color: #f2f2f2;
}

.btn-larger:active,
.btn-larger.active,
.open .dropdown-toggle.btn-larger {
    background-image: none;
}

.btn-larger.disabled,
.btn-larger[disabled],
fieldset[disabled] .btn-larger,
.btn-larger.disabled:hover,
.btn-larger[disabled]:hover,
fieldset[disabled] .btn-larger:hover,
.btn-larger.disabled:focus,
.btn-larger[disabled]:focus,
fieldset[disabled] .btn-larger:focus,
.btn-larger.disabled:active,
.btn-larger[disabled]:active,
fieldset[disabled] .btn-larger:active,
.btn-larger.disabled.active,
.btn-larger[disabled].active,
fieldset[disabled] .btn-larger.active {
    border-color: #AEA8D3;
    background-color: #AEA8D3;
}

.btn-larger .badge {
    color: #AEA8D3;
    background-color: #fff;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 20px 15px;
}
div#form {
    color: #fff;
    background-attachment: scroll;
    background: #1c1e21 url(../img/bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}

#userform p {
    font-size: 14px;
    margin-bottom: 5px;
}

#userform ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
}

#userform {
    background: #fff;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#last-button a{
    border-top-left-radius: 10px !important;
    -moz-border-top-left-radius: 10px !important;
    -webkit-border-top-left-radius: 10px !important;
}

#first-button a{
    border-top-right-radius: 10px !important;
    -moz-border-right-left-radius: 10px !important;
    -webkit-border-right-left-radius: 10px !important;
}

.details .text-left {
    text-align: left;
    color: #004969;
    border-bottom: 1px solid #dec873;
    padding-bottom: 12px;
}

.logo-section img {
    height: 55px;
    margin-top:55px;
}

@media (min-width: 768px) {
    #userform {
        background: #fff;
        margin: 40px 0 20px 0;
        max-width: 550px;
        margin-left: 80px;
    }
}

#userform .nav-tabs.nav-justified>li>a {
    text-transform: uppercase;
    font-size: 12px;
    color: #004969;
    background-color: #e6e6e6;
}

#userform .nav-tabs.nav-justified>.active>a,
#userform .nav-tabs.nav-justified>.active>a:hover,
#userform .nav-tabs.nav-justified>.active>a:focus {
    border: 0;
    background: #004969;
    color: #f2f2f2;
    border-radius: 0;
}

#userform .nav-justified>li>a {
    margin-bottom: 0;
}

#userform .nav-justified>li>a:hover {
    background: #AEA8D3;
    color: #FFF;
}

#userform .nav-tabs>li>a {
    border: 0px solid transparent;
    border-radius: 0
}

#userform .nav-tabs.nav-justified>li>a:hover {
    background: #004969;
    color: #f2f2f2;
    border-radius: 0;
    border: 0;
}

#userform .nav-tabs>li.active>a,
#userform .nav-tabs>li.active>a:hover,
#userform .nav-tabs>li.active>a:focus {
    color: #f2f2f2;
    cursor: default;
    background-color: transparent;
    border: 0;
}

@media (min-width: 768px) {
    #userform .nav-tabs.nav-justified>li>a {
        border: 0;
    }
    #userform .nav-tabs.nav-justified>li>a:hover {
        background-color: #004969;
        border-color: transparent;
        border: 0;
        color: #f2f2f2;
    }
}

@media (max-width: 768px) {
    .nav-justified>li {
        display: table-cell !important;
        width: 1% !important;
    }
}

#userform .nav-tabs {
    border-bottom: 0px solid #ddd;
}

#userform .tab-pane h2 {
    margin: 10px 0;
    color: #FFF;
}

#userform .tab-pane p.lead {
    margin-top: 20px;
}

#userform .tab-content {
    padding: 30px
}

#userform .form-group {
    margin-bottom: 0px;
    color: #FFF;
}

#userform .form-group input,
#userform .form-group textarea {
    padding: 15px;
    font-size: 14px;
    border-radius: 7px;
}

#userform .form-group input.form-control {
    height: auto;
    background-color: #fff;
    color: #b3b3b3;
    border: 2px solid #e6e6e6;
    margin-bottom: 20px;
}

#userform .form-control {
    border-radius: 0;
    border: 1px solid #fff;
}

#userform .form-control:focus{
    box-shadow: none;
}

#userform::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: #bbb;
}

#userform #signup .form-group label {
    position: relative;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    left: 10px;
    top: 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 12px;
    font-weight: 300
}

#userform #signup .form-group label .req {
    margin: 2px;
    color: #004969;
}

#userform #signup .form-group label.active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    left: 2px;
    font-size: 12px;
}

#userform #signup .form-group label.active .req {
    opacity: 0;
}

#userform label.highlight {
    color: #ffffff;
}

#userform #login .form-group label {
    position: relative;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    left: 10px;
    top: 0px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 12px;
    font-weight: 300
}

#userform #login .form-group label .req {
    margin: 2px;
    color: #004969;
}

#userform #login .form-group label.active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    left: 2px;
    font-size: 12px;
}

#userform #login .form-group label.active .req {
    opacity: 0;
}

.mrgn-30-top {
    margin-top: 30px
}